# Requirements for revng_merge_dynamic
pyelftools

# Requirements for model_dump
PyYAML

# revng-model-compare
grandiso

# revng.api
cffi

# revng.daemon
ariadne
aiodataloader
uvicorn
Jinja2
python-multipart
xdg

# revng.daemon - tests
pytest
pytest-asyncio
requests
requests-toolbelt
aiohttp
gql
psutil

# Requirements for pdb-download
pefile

# revng.import_idb dependencies
python-idb
