# Requirements for revng_merge_dynamic
pyelftools

# Requirements for model_dump
PyYAML

# revng-model-compare
grandiso

# revng.api
cffi

# revng.daemon
ariadne
aiodataloader
hypercorn
Jinja2
python-multipart
xdg

# revng.daemon - tests
pytest
requests
requests-toolbelt
gql
psutil
