# Requirements for revng_merge_dynamic
pyelftools

# Requirements for model_dump
PyYAML

# revng-model-compare
grandiso

# revng.api
cffi

# revng.daemon
Flask
Werkzeug
ariadne
aiodataloader
Jinja2
xdg

# revng.daemon - tests
pytest
requests
requests-toolbelt
gql
