# Requirements for tuple_tree_generator
jsonschema
PyYAML
Jinja2
# Needed for python < 3.9
graphlib-backport

# Requirements for revng_merge_dynamic
pyelftools

# Requirements for monotone-framework
networkx
pydot
