#
# This file is distributed under the MIT License. See LICENSE.md for details.
#

-std=c11

# Assume we don't have a C-runtime on the target (to allow weird signature on
# main, and to turn off warnings about mismatched c stdlib signatures).
-ffreestanding

# Prevent recompilation of decompiled C code to cause UB on overflows
# It's equivalent to -fwrapv -fwrapv-pointer
-fno-strict-overflow

# Memory accesses via casted pointers are pretty common in decompiled code.
-fno-strict-aliasing
